<%= turbo_frame_tag :walk_details do %>

  <%= simple_form_for [walk, @user_walk], local: true do |form| %>
    <% if @user_walk.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user_walk.errors.count, 'erreur') %> empêche(nt) cette
          inscription :
        </h2>

        <ul>
          <% @user_walk.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if walk.user_walks.count < walk.number_of_dog %>
      <p class="mt-4">
        Places disponibles : <%= walk.number_of_dog - walk.user_walks.count %>
      </p>
      <div class="flex justify-center items-center gap-4 mt-4">
        <%= form.submit "Confirmer", class:"btn btn-primary" %>
      <% else %>
        <p>Cette balade est complète.</p>
      <% end %>
    <% end %>
    <button onclick="this.closest('dialog').close()" class="btn btn-secondary">Retour</button>
  </div>
<% end %>