<h1>Inscription à la balade : <%= @walk.name %></h1>

<%= simple_form_for [@walk, @user_walk], local: true do |form| %>
  <% if @user_walk.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user_walk.errors.count, 'erreur') %> empêche(nt) cette
        inscription :
      </h2>

      <ul>
        <% @user_walk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @walk.user_walks.count < @walk.number_of_dog %>
    <p>
      Places disponibles : <%= @walk.number_of_dog - @walk.user_walks.count %>
    </p>
    <%= form.submit "Confirmer l'inscription" %>
  <% else %>
    <p>Cette balade est complète.</p>
  <% end %>
<% end %>

<%= link_to 'Retour à la balade', @walk %>
