<div class="flex flex-col items-center justify-center gap-3 pb-8">


  <% if user_signed_in? %>
    <h2 class="text-4xl text-amber-500 font-bold mx-auto mt-8 font-luckiest tracking-wider">Hello <%= current_user.first_name %> </h2>
    <p class="text-center ">Bienvenue sur <strong>Dog Walks</strong>, <br>
      ici tu peux rejoindre une balade avec ton compagnon à 4 pattes ou créer ta propre balade </p>
  <% else %>
    <p class="text-2xl text-amber-700 font-bold mx-auto">Bienvenue sur Dog walks</p>
  <% end %>

  <div class="flex flex-col items-center justify-center gap-4 mt-4">
    <%= link_to 'Créer une balade', new_walk_path, class: 'btn btn-primary mt-4' %>
    <%= link_to 'Voir toutes les balades', walks_path, class: 'btn btn-accent mt-4' %>
  </div>

  <hr class="border border-[#c59f60] w-[60%] mx-auto m-4">

  <%# Les prochaines Balades proches %>
  <div class="gap-4 flex flex-col justify-center !w-[22rem]">
    <h2 class="text-3xl font-semibold text-center mb-8">Prochaines balades</h2>

    <div style="width: 100%; height: 200px; border-radius:1rem"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <% @closest_walks.each do |walk| %>
      <div class="card border border-[#c59f60] shadow-xl rounded-lg w-full">


        <%# <figure>
          <img class="rounded-lg w-96 h-96"
          src="https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Shoes" />
        </figure> %>
        <div class="flex flex-col flex-auto gap-2 rounded-lg p-4">
          <h2 class="card-title self-center mx-auto "><%= walk.name %></h2>
          <div class="flex gap-2 items-center">
            <%= image_tag "https://img.icons8.com/?size=20&id=13830&format=png&color=66350C", alt: "description" %>
            <p><%= walk.description %></p>

          </div>
          <div class="flex items-center  gap-2">
            <%= image_tag "https://img.icons8.com/?size=20&id=12776&format=png&color=000000", alt: "date", height: 20  %>
            <span><%= walk.date.nil? ? 'Non défini' : l(walk.date, format: :short, locale: :fr) %></span>
          </div>
          <div class="flex items-center gap-2">
            <%= image_tag "https://img.icons8.com/?size=20&id=13778&format=png&color=000000", alt: "address" %>
            <span><%= walk.address %></span>
          </div>
          <div class="flex items-center gap-2">
            <div class="flex items-center gap-2 grow">
              <%= image_tag "https://img.icons8.com/?size=20&id=9201&format=png&color=db924b", alt: "number of dog" %>
              <span><%= walk.number_of_dog %> chien(s) max</span>

            </div>
            <div class="card-actions " onclick="signup_modal_<%= walk.id %>.showModal()">
              <span class="font-bold text-3xl text-black bg-primary rounded-full h-10 w-10 text-center pr-[0.1rem] !mr-2">+</span>
            </div>
          </div>
        </div>

        <%# modal d'inscription %>
        <dialog id="signup_modal_<%= walk.id %>" class="modal" >
          <div class="modal-box">
            <form method="dialog">
              <button
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" data-action="click->modal#close">✕</button>
            </form>
            <h3 class="text-lg font-bold text-center mb-2"> Balade : <%= walk.name %></h3>
            <hr class="border border-[c] w-[60%] mx-auto m-2">
            <%= render 'user_walks/form', walk: walk, user_walk: @user_walk %>
          </div>
        </dialog>
      </div>

      <!--
          <button class="btn btn-primary" onclick="details_modal_<%= walk.id %>.showModal()">Voir le details</button>
          -->
    <% end %>
  </div>

</div>
</div>


<%# ? Afficher les balades les plus proches %>
