<%= turbo_frame_tag "walk_details_#{walk.id}" do %>
  <div class="space-y-4">
    <div class="flex gap-2 items-center">
      <%= image_tag "https://img.icons8.com/?size=20&id=13830&format=png&color=66350C", alt: "description" %>
      <p><%= walk.description %></p>
    </div>
    <div class="flex items-center  gap-2">
      <%= image_tag "https://img.icons8.com/?size=20&id=12776&format=png&color=000000", alt: "date", height: 20  %>
      <span><%= walk.date.nil? ? 'Non défini' : l(walk.date, format: :short, locale: :fr) %></span>
    </div>
    <div class="flex items-center gap-2">
      <%= image_tag "https://img.icons8.com/?size=20&id=13778&format=png&color=000000", alt: "address" %>
      <span><%= walk.address %></span>
    </div>
    <div class="flex items-center gap-2">
      <div class="flex items-center gap-2 grow">
        <%= image_tag "https://img.icons8.com/?size=20&id=9201&format=png&color=db924b", alt: "number of dog" %>
        <span><%= walk.number_of_dog %> chien(s) max</span>

      </div>

    </div>


    <hr class="border border-[#c59f60] w-[60%] mx-auto m-4">

    <% if walk.user_walks.any? %>
      <div>
        <p class="text-center mb-2"><strong>Participants -</strong> (<%= walk.user_walks.count %>/<%= walk.number_of_dog %>)</p>

        <ul class="list-disc list-inside">
          <% walk.user_walks.each do |user_walk| %>
            <li><%= user_walk.user.first_name %> - <%= user_walk.user.dog.name %> </li>
          <% end %>
        </ul>

      <% end %>
    </div>
  <% end %>
