<!-- app/views/walks/index.html.erb -->
<h1 class="text-center text-3xl font-bold mt-4 tracking-wider">Liste des balades</h1>

<% @walks.each do |walk| %>
  <div class="card-body border border-[#c59f60] rounded-lg m-4">
    <h2 class="card-title"><%= walk.name %></h2>
    <p><%= walk.description %></p>
    <span><%= walk.date != nil ? l(walk.date, format: :short, locale: :fr) : 'Non défini' %></span>
    <span><%= walk.location %></span>
    <span><%= walk.number_of_dog %> chien(s) maximum</span>
    <button class="btn btn-primary" onclick="signup_modal_<%= walk.id %>.showModal()">S'inscrire</button>
    <button class="btn btn-primary" onclick="details_modal_<%= walk.id %>.showModal()">Voir le details</button>


    <dialog id="signup_modal_<%= walk.id %>" class="modal">
      <div class="modal-box">
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="text-lg font-bold"> Balade : <%= walk.name %></h3>
        <%= render 'user_walks/form', walk: walk, user_walk: @user_walk %>
      </div>
    </dialog>
  </div>

  <dialog id="details_modal_<%= walk.id %>" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="text-lg font-bold">Détails de la balade : <%= walk.name %></h3>
      <div class="mt-4">
        <%= render partial: 'walks/show', locals: { walk: walk, user_walk: @user_walk  } %>
      </div>
    </div>
  </dialog>
<% end %>
