<h1>Liste des balades</h1>

<% @walks.each do |walk| %>
  <div class="card-body">
    <h2 class="card-title"><%= walk.name %></h2>
    <p><%= walk.description %></p>
    <span><%= l walk.date, format: :short %></span>
    <span><%= walk.location %></span>
    <span><%= walk.number_of_dog %> chien(s) maximum</span>
    <%=
      link_to "S'inscrire",
              new_walk_user_walk_path(walk),
              class: 'btn btn-primary'
    %>
  </div>
<% end %>
