<!-- app/views/walks/index.html.erb -->
<div class="container mx-auto">
  <h1 class="text-center text-3xl font-bold mt-4 tracking-wider">Liste des balades</h1>

  <%# Search Form %>
  <%= simple_form_for :search, url: walks_path, method: :get, html: { class: 'flex justify-center items-center gap-4 mt-4' } do |f| %>
    <%= f.input :query, 
      label: false,
      input_html: { 
        value: params[:query],
        class: 'form-input !bg-transparent border !border-[#c59f60] rounded-lg p-2 w-96 !text-gray-300  placeholder:font-normal',
        placeholder: 'Lieu, nom de la balade...',
      } 
    %>
    <%= f.button :submit, 'Rechercher', class: 'btn btn-primary rounded-full px-4 py-1 text-sm' %>
  <% end %>

  <% if user_signed_in? %>
    <div class="flex justify-center items-center gap-4 my-4">
      <%= link_to 'Créer une balade', new_walk_path, class: 'btn btn-primary rounded-full px-4 py-1 text-sm' %>
      <%= link_to walks_path(today: params[:today].present? ? nil : true), 
          class: "btn #{params[:today].present? ? 'btn-accent shadow-lg shadow-[#c59f60]/30 border-2 border-[#c59f60]' : 'btn-secondary'} rounded-full px-4 py-1 text-sm" do %>
        Balades du jour
      <% end %>
    </div>
  <% end %>

  <div class="flex flex-col justify-center items-center gap-4 mx-auto">
    <div style="width: 90%; height: 200px; border-radius:1rem"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <% if @walks.empty? %>
      <p class="text-center text-md text-amber-500 !mt-10 italic font-luckiest tracking-wider">Aucune balade trouvée</p>
    <% else %>
      <% @walks.each do |walk| %>
        <div class="card-body border border-[#c59f60] rounded-lg m-4" data-controller="modal" style="width: 80%">
          <h2 class="card-title"><%= walk.name %></h2>
          <p><%= walk.description %></p>
          <span><%= walk.date.nil? ? 'Non défini' : l(walk.date, format: :short, locale: :fr) %></span>
          <span><%= walk.address %></span>
          <span><%= walk.number_of_dog %> chien(s) maximum</span>
          <button class="btn btn-primary" onclick="signup_modal_<%= walk.id %>.showModal()">S'inscrire</button>
          <button class="btn btn-active btn-default" onclick="details_modal_<%= walk.id %>.showModal()">Voir le details</button>

          <%# 1ere modal s'inscrire %>
          <dialog id="signup_modal_<%= walk.id %>" class="modal" >
            <div class="modal-box">
              <form method="dialog">
                <button
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" data-action="click->modal#close">✕</button>
              </form>
              <h3 class="text-lg font-bold text-center mb-2"> Balade : <%= walk.name %></h3>
              <hr class="border border-[#c59f60] w-[60%] mx-auto m-2">
              <%= render 'user_walks/form', walk: walk, user_walk: @user_walk %>
            </div>
          </dialog>
        </div>

        <%# ########################################### %>
        <%# 2eme modal "Voir details" %>
        <dialog id="details_modal_<%= walk.id %>" class="modal" >
          <div class="modal-box" >
            <form method="dialog" >
              <button id="close-modal-btn" 
          
          class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <h3 class="text-lg font-bold text-center"><%= walk.name %></h3>
            <hr class="border border-[#c59f60] w-[60%] mx-auto m-4">
            <div class="mt-4">
              <%= turbo_frame_tag "walk_details_#{walk.id}" do %>
                <%= render partial: 'walks/show_details', locals: { walk: walk, user_walk: @user_walk } %>
              <% end %>
            </div>
          </div>
        </dialog>
      <% end %>
    <% end %>
  </div>
</div>
