<h1><%= @walk.name %></h1>
<p>Lieu : <%= @walk.location %></p>
<p>Date : <%= @walk.date %></p>
<p>Nombre de places max: <%= @walk.number_of_dog %></p>

<% if user_signed_in? %>
  <% if @walk.user_walks.where(user: current_user).exists? %>
    <%=
      button_to 'Se désinscrire',
                walk_user_walk_path(
                  @walk,
                  @walk.user_walks.find_by(user: current_user),
                ),
                method: :delete,
                class: 'btn btn-danger'
    %>
  <% else %>
    <% if @walk.user_walks.count < @walk.number_of_dog %>
      <%=
        link_to 'S\'inscrire',
                new_walk_user_walk_path(@walk),
                class: 'btn btn-primary'
      %>
    <% else %>
      <p>Cette balade est complète</p>
    <% end %>
  <% end %>
<% end %>

<h2>Participants (<%= @walk.user_walks.count %>/<%= @walk.number_of_dog %>)</h2>
<% @walk.user_walks.each do |user_walk| %>
  <p><%= user_walk.user.first_name %> <%= user_walk.user.last_name %></p>
<% end %>
