<%# Modal %>
<%= turbo_frame_tag "walk_details_#{@walk.id}" do %>
  zelrkjzlkerj
  <div class="flex flex-col gap-2">
    <p><strong>Date :</strong> <%= l(@walk.date, format: :short, locale: :fr) %></p>
    <p><strong>Lieu :</strong> <%= @walk.address %></p>
    <p><strong>Nombre de places max :</strong> <%= @walk.number_of_dog %></p>
  </div>
  <hr class="border border-[#c59f60] w-[60%] mx-auto m-4">

  <p class="text-center mb-2"><strong>Participants -</strong> (<%= @walk.user_walks.count %>/<%= @walk.number_of_dog %>)</p>
  <ul>
    <% @walk.user_walks.each do |user_walk| %>
      <li class="list-disc list-inside"><%= user_walk.user.first_name %> <%= user_walk.user.last_name %> - <%= user_walk.user.dog.name %></li>
    <% end %>
  </ul>

  <% if user_signed_in? %>
    <% if @walk.user_walks.exists?(user: current_user) %>
      <%=
      button_to 'Se désinscrire',
                walk_user_walk_path(
                  @walk,
                  @walk.user_walks.find_by(user: current_user),
                ),
                method: :delete,
                class: 'btn btn-outline btn-primary m-4 flex mx-auto'
    %>
    <% else %>
      <% if @walk.user_walks.count < @walk.number_of_dog %>
        <%= link_to 'S\'inscrire',
                    walk_user_walks_path(@walk),
                    data: { turbo_method: :post, turbo_frame: "walk_details_#{@walk.id}" },
                    class: 'btn btn-primary m-4 flex mx-auto'
        %>
      <% else %>
        <p>Cette balade est complète</p>
      <% end %>
    <% end %>
  <% end %>


<% end %>
