<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Dog-Harmonie Balades' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Favicon pour différents navigateurs et appareils %>
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/icon-96x96.png">
    <link rel="icon" type="image/png" href="/icons/icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/icon-114x114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/icon-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/icon-60x60.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/icon-57x57.png">
    <link rel="apple-touch-icon" href="/icons/icon.png">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/icons/icon.png">
    <meta name="theme-color" content="#000000">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://npmcdn.com/flatpickr/dist/themes/confetti.css"
    />
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%=
      stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload'
    %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <style>
     
    </style>
  </head>

  <body class="mesh-gradient-custom min-h-screen <%= params['action'] == 'new' && params['controller'] == 'walks' ? 'h-screen' : 'h-full' %>">
    
    <%= render 'shared/navbar' if params['action'] != 'new' %>
    <%# <main class="container mx-auto mt-28 px-5 flex"> %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <div class="page-transition">
      <%= yield %>
    </div>
   
  </body>
</html>
